<section class="full-width-section position-relative">
  <img src="Images/bg.png" alt="Background" class="background-image position-absolute top-0 start-0 w-100 h-100" style="z-index: -1;" />

  <div class="container-fluid px-0 py-0">
    <div class="row head gx-0 gy-4 flex-column-reverse flex-lg-row align-items-end">

      <!-- Text Block -->
      <div class="text-block col-12 col-lg-6">
        <h2 class="text-white mb-3">{{ title() }}</h2>
        <p>{{ description() }}</p>
      </div>

      <!-- Image Block -->
      <div class="image-block col-12 col-lg-6 d-flex">
        <div class="image-inner d-flex flex-row w-100">

          <!-- Half Width Image -->
          <div class="half-img">
            <img src="Images/advisorHead1.jpg" alt="" />
          </div>

          <!-- Two Quarter Images Stacked -->
          <div class="quarter-img d-flex flex-column">
            <img src="Images/advisorHead2.jpg" alt="" />
            <img src="Images/advisorHead3.jpg" alt="" />
          </div>

        </div>
      </div>

    </div>
  </div>
</section>