.search-bar input {
  flex: 1;
}

.card-body {
  flex-wrap: wrap;
}

.card-body h5,
.card-body p,
.card-body small {
  margin: 0;
  white-space: nowrap;
}

.card-body .btn {
  white-space: nowrap;
}

.info {
  gap: 1rem;
  flex-wrap: wrap;
}
