<div class="container my-5">
  <div class="row g-4">

    @if (stats) {
      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد الشكاوى</h5>
            <h2 class="text-danger">{{ stats.complaintCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد طلبات إصلاح ذات البين</h5>
            <h2 class="text-warning">{{ stats.reconcileRequestCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد المتطوعين</h5>
            <h2 class="text-success">{{ stats.volunteerCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد المستشارين</h5>
            <h2 class="text-info">{{ stats.advisorCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد المحاضرات</h5>
            <h2 class="text-primary">{{ stats.lectureCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد الاستشارات</h5>
            <h2 class="text-dark">{{ stats.adviceRequestCount }}</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">عدد الخدمات</h5>
            <h2 class="text-secondary">{{ stats.serviceOfferingCount }}</h2>
          </div>
        </div>
      </div>
    }

  </div>

  <!-- Charts Section -->
  <div class="row mt-5 ">
    <div class="col-md-6 mx-auto">
      <h5 class="text-center mb-3 fs-4">نسب الإحصائيات</h5>
      <canvas baseChart
        [data]="pieChartData"
        [type]="'pie'">
      </canvas>
    </div>

    <!-- <div class="col-md-6">
      <h5 class="text-center mb-3">تفاصيل الأعمدة</h5>
      <canvas baseChart
        [data]="barChartData"
        [type]="'bar'">
      </canvas>
    </div> -->
  </div>
</div>
