.custom-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  display: block;
}


.custom-dropdown .dropdown-item {
  padding: 0.5rem 1rem;
}

.custom-dropdown .dropdown-item i {
  font-size: 1.1rem;
  margin-inline-start: 0.5rem;
}
