<section class="full-width-section position-relative">
  <img src="Images/bg.png" alt="Background" class="background-image" />

  <div class="head row">
    <div class="text-block col-6">
      <h2 class="text-white mb-3">{{title()}}</h2>
      <p>{{description()}}
      </p>
    </div>

    <div class="image-block d-flex col-6">
      <div class="image-inner d-flex flex-row justify-content-end align-items-end w-100">
        <div class="half-img">
          <img class="w-100" src="Images/advisorHead1.jpg" alt="" />
        </div>
        <div class="quarter-img d-flex flex-column justify-content-end">
          <img class="w-100" src="Images/advisorHead2.jpg" alt="" />
          <img class="w-100" src="Images/advisorHead3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
