.card {
  border-radius: 1rem;
}

.card-header {
  font-size: 1.25rem;
}

.form-label {
  color: #333;
  font-size: 1.1rem;
}

.form-control {
  font-size: 1.1rem;
}

.video-placeholder {
  background: #f1f1f1;
  border: 2px dashed #ccc;
  border-radius: 12px;
}

.video-info {
  text-align: start;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.alert {
  font-size: 1.1rem;
  border-radius: 0.5rem;
}
