.notification-wrapper {
  position: relative;
  display: inline-block;
}

.notification-dropdown {
  position: absolute;
  right: -200%;
  top: 100%;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  @media screen and (max-width: 767px) {
    width: 150px;
  }
}

.notification-item {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}
