.header-section {
  background-color: #ffffff;
}

.icon-bg {
  background-color: var(--primary-300);
}

.icon-bg i {
  color: #fff;
  font-size: small;
}

.action-buttons {
  font-family: 'Cairo';
}

.action-buttons button {
  font-weight: bold;
}

.hero-btn-secondary {
  background-color: var(--primary);
  color: #ffffff;
  font-family: 'Cairo';
}

.hero-btn-secondary:hover {
  background-color: #157347;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(25, 135, 84, 0.4);
}

/* Optional media query for very small devices */
@media (max-width: 576px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }
}