<div class="statistics-card-container">
  <div class="single-statistics-card">
    <div class="stats-row animate-on-scroll">
      @for (stat of statistics; track $index ; let last = $last) {

      <div class="stat-section">
        <div class="stat-content">
         
          <div class="stat-icon">
            <i class="bi bi-stars"></i>
          </div>
           <div class="stat-info">
            <div class="stat-number ">+{{ stat.number }}</div>
            <div class="stat-label fs-5 fw-bold">{{ stat.label }}</div>
          </div>
        </div>
       
        <div class="stat-divider"></div>
        
      </div>
      }

    </div>
  </div>
</div>