*{
  direction: rtl;
  font-family: 'Cairo', sans-serif;
line-height: 200%;

}.bg{
  background-color:var(--primary-700);
}
.description{
  font-family: Cairo;
font-weight: 400;
font-style: Regular;
// font-size: 18px;
// line-height: 100%;
text-align: right;
color: rgba(255, 255, 255, 1);
}

