:root {
  /* Primary Colors (Green) */
  --primary-50: #e6eeeb;
  --primary-100: #b1cbbf;
  --primary-200: #8bb1a1;
  --primary-300: #558e76;
  --primary-400: #35785b;
  --primary-500: #025632;
  --primary-600: #024e2e;
  --primary-700: #013d24;
  --primary-800: #012f1c;
  --primary-900: #012415;

  /* Secondary Colors (Orange/Brown) */
  --secondary-50: #f9f1ea;
  --secondary-100: #ebd5bd;
  --secondary-200: #e1c09d;
  --secondary-300: #d3a370;
  --secondary-400: #cb9155;
  --secondary-500: #be762a;
  --secondary-600: #ad6b26;
  --secondary-700: #87541e;
  --secondary-800: #694117;
  --secondary-900: #503212;
  

  /* Base Primary Color */
  --primary: var(--primary-500);
  
  /* Base Secondary Color */
  --secondary: var(--secondary-500);

  /* Additional utility colors based on the palette */
  --primary-light: #299667;
  --primary-dark:#025632;
  --secondary-light: #edc677;
  --secondary-dark: #be762a;


}
