/* Font Family and RTL */
* {
  font-family: 'Cairo', sans-serif;
}

.main-content {
  background-color: var(--gray-50);
  padding-top: 1rem;
}

// .dashboard-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   border-bottom: 1px solid var(--gray-200);
//   border-radius: 8px;
// }

// .navbar-toggler {
//   border: none;
//   font-size: 1.5rem;
//   padding: 0.5rem;
//   color: var(--primary-500);
// }



/* Responsive Design */
@media (max-width: 576px) {
  .dashboard-header h2 {
    font-size: 1.25rem;
  }

  .content-sections {
    padding: 0 0.5rem;
  }
}