<!-- Hero Section -->
<section class="hero-section position-relative ">
  <div class="hero-background"><img class="img-cover" [src]="heroImage" alt="" width="100%" height="100%">
  </div>
  <!-- <div class="hero-overlay"><img src="Images/home/head.png" width="100%" height="100%" alt=""> </div> -->

  <div class="container position-relative">

    <div class="hero-buttons d-flex justify-content-end gap-3 flex-wrap">
      <a class="text-decoration-none " [routerLink]="'/all-consultants'"> <app-main-button
          [buttonFunction]="onDiscoverServices" [buttontext]="'احجز استشارة'"
          [iconButton]="'bi-arrow-left-short fs-2'"></app-main-button></a>

      <a class="text-decoration-none " [routerLink]="'/about-layout/about'"> <button
          class="btn btn-light btn-lg px-5 py-2 fs-5  hero-btn-primary" (click)="onLearnMore()">
          تعرف علينا
        </button></a>
    </div>
    <div class="hero-statistics">
      @defer (on idle) {

        <app-stat-card [statistics]="statistics"></app-stat-card>
      }

    </div>
  </div>

</section>