

.btn-donate {
  background-color: rgba(2, 86, 50, 1);
  color: #fff;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #014c2f;
  }
}

.object-fit-cover {
  object-fit: cover;
}
.bg-card{ 
background-color:  rgba(255, 255, 255, 0.836);
color:rgba(177, 203, 191, 0.3);

}